.authHeader {
  max-width: 400px;

  /* margin: 50px auto; */
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* border: 1px solid #ddd; */
  border-radius: 8px;
}

.title {
  color: #fff;

  text-align: center;
}

.authInput {
  width: 100%;

  margin-top: 1.25rem;
  /* margin-bottom: 10px; */
  padding: 0.5rem;
}

.authBtn {
  width: 100%;

  margin-top: 1.25rem;
  padding: 0.75rem 1rem;

  background: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.linkBox {
  width: 100%;
  margin-top: 1.25rem;

  border-top: 1px solid #6366f133;
  /* padding-top: 1rem; */
}

.authLink {
  display: block;

  margin-top: 1.5rem;
  padding: 0.75rem 1rem;

  border: 1px solid #6366f14d;
  border-radius: 12px;

  box-shadow: 0 10px 25px #6366f14d;
  background: linear-gradient(135deg, #6366f1, #8b5cf6);

  color: #fff;

  text-align: center;
  transition: all 0.3s ease;
}

.authLink:hover {
  transform: translateY(-3px);
  box-shadow: 0 15px 30px #6366f180;
  background: linear-gradient(135deg, #818cf8, #a78bfa);
}
